* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-bottom: 4rem;
}
.menu{
  font-weight: bold !important;
  background-color: white;
  height: 4rem;
  width: auto !important;
  align-items: center;
  gap: 1.5rem;
  border-radius: 2rem;
  padding: 1rem;
}

nav li {
  list-style: none;
}

nav li a {
  color: black;
  text-decoration: none;
  
}